version: "3.9"

services:
  app:
    image: ivaaahn/collector-server:${APP_VERSION}
    container_name: app
    restart: unless-stopped
    command:
      - "-t"
      - ${BOT_TOKEN}
    depends_on:
      pg:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully


  pg:
    image: postgres:14-alpine
    container_name: pg
    expose:
      - 5432
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PSWD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: "/data/lib/postgresql/data/pgdata"
    volumes:
      - pg_data_volume:/data/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: pg_isready --dbname=$DB_NAME --username=$DB_USER
      interval: 5s
      timeout: 5s
      retries: 10


  migrations:
    image: ivaaahn/collector-migrations:${APP_VERSION}
    container_name: migrations
    depends_on:
      - pg
    environment:
      USER: ${DB_USER}
      PSWD: ${DB_PSWD}
      HOST: pg:5432
      DB: ${DB_NAME}

volumes:
  pg_data_volume:
